<!doctype html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>CH6EX1: Basic HTML5 Video</title>
</head>
<body>
<div>
  <!-- <%= image_tag custom_image_path( 'my_pic.jpg' ) %> -->
<!-- <video id="thevideo" src="<%= custom_image_path( 'rplay_video_20151229_040651.mov' ) %>" controls preload="auto"></video> -->

<!-- <video id="thevideo" src="<%= asset_path 'SampleVideo_720x480_5mb.mp4' %>" controls preload="auto"></video> -->
<!-- <video id="thevideo" src="<%= asset_path 'rplay_video_20151229_040651.mov' %>" controls preload="auto"></video> -->

<!-- <video id="thevideo" src="/Users/paulonegrao/Documents/rplay_video_20151229_040651.mov" controls preload="auto"></video> -->
<video id="thevideo" src="/Macintosh%20HD/Users/paulonegrao/Documents/rplay_video_20151229_040651.mov" controls preload="auto"></video>

<!-- <video id="thevideo" src="/serve_media/SampleVideo_720x480_5mb.mp4" controls preload="auto"></video> -->
<!-- <video autoplay loop controls id="thevideo"  width="320" height="240" -->
       <!-- src="/serve_media/SampleVideo_720x480_5mb.mp4" > -->
 <!-- </video> -->
</div>
<div>
(Right-click To Control)
</div>
</body>
</html>
