
    <div class='up-div'>
      <img src="<%= asset_path 't4d-m.png' %>" />
    </div>
    <div class='down-div' style="width:auto;">
      <div align="center" style="float:left; padding:20px 10px 20px 20px;">
        <h2>PART ONE:</h2>
        <h1>How to catch up the Master’s pace with no typing</h1>
      </div>
      <div style="padding-top:20px;">
        <img src="<%= asset_path 'tam1.png' %>" />
      </div>
    </div>
