<h2></h2>
<form method="post" action="/temperature_submit">
  <div>
    <label for="temp">Temperature in C</label>
    <input type="text" id="temp" name="temperature">
  </div>
  <div>
    <input type="submit" value="Submit">
  </div>
  <div>
    <%# °C  x  9/5 + 32 = °F %>
    <% celcius = @param["temperature"].to.f %>
    <%# resultado = celcius * 9/5 + 32 %>
    <p><%#= resultado %></p>
  </div>
</form>
