// Place all the styles related to the snippets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.navbar-default {
  box-shadow: -5px 4px 10px #ccc;
  border-bottom: 2px solid #111;
  background-color: #a6ef13;
}

.navbar-header {
  //padding-left: 15px;
  background-color: #ffd714;
}

a.navbar-brand {
  margin-right: 10px;
  background-color: #ffd714
}

.navbar-default .navbar-brand {
  color: black;
}

.navbar-default .navbar-nav > li > a {
  color: black;
}

div.navbar-padding {
  margin-bottom: 75px;
}

.flash-box {
    padding: 15px;
    color: #666;
    margin-bottom: 5px;
}

.flash-box.warning {
  border-left: 8px solid #ffd714;
}

.flash-box.notice {
  border-left: 8px solid #87cb00;
}

textarea#snippet_code  {
  height: 20em;
}

.padded {
  margin: 0.75em;
}

.btn-danger {
  border: none;
  background-color: #87cb00;
}

.btn-danger:hover {
  background-color: #a6ef13;
}

code {
}

// Hacks for the navbar popping higher on the mobile media query
nav.navbar.navbar-default.navbar-fixed-top {
  height: 52px;
}

.container-fluid{
  height: 52px;
}
